In [32]:
import pandas as pd 
import numpy as np

In [33]:
from sklearn.naive_bayes import BernoulliNB
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [34]:
df = pd.read_csv('/content/spambase_csv.csv' , header=None)
df.drop([0,1], axis=0,inplace=True)

In [35]:
df.head(10)

,0,1,2,3,4,5,6,7,8,9,...,48,49,50,51,52,53,54,55,56,57
2,0.21,0.28,0.5,0,0.14,0.28,0.21,0.07,0,0.94,...,0,0.132,0,0.372,0.18,0.048,5.114,101,1028,1
3,0.06,0,0.71,0,1.23,0.19,0.19,0.12,0.64,0.25,...,0.01,0.143,0,0.276,0.184,0.01,9.821,485,2259,1
4,0,0,0,0,0.63,0,0.31,0.63,0.31,0.63,...,0,0.137,0,0.137,0,0,3.537,40,191,1
5,0,0,0,0,0.63,0,0.31,0.63,0.31,0.63,...,0,0.135,0,0.135,0,0,3.537,40,191,1
6,0,0,0,0,1.85,0,0,1.85,0,0,...,0,0.223,0,0,0,0,3,15,54,1
7,0,0,0,0,1.92,0,0,0,0,0.64,...,0,0.054,0,0.164,0.054,0,1.671,4,112,1
8,0,0,0,0,1.88,0,0,1.88,0,0,...,0,0.206,0,0,0,0,2.45,11,49,1
9,0.15,0,0.46,0,0.61,0,0.3,0,0.92,0.76,...,0,0.271,0,0.181,0.203,0.022,9.744,445,1257,1
10,0.06,0.12,0.77,0,0.19,0.32,0.38,0,0.06,0,...,0.04,0.03,0,0.244,0.081,0,1.729,43,749,1
11,0,0,0,0,0,0,0.96,0,0,1.92,...,0,0,0,0.462,0,0,1.312,6,21,1

In [36]:
df.columns

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
            51, 52, 53, 54, 55, 56, 57],
           dtype='int64')

In [37]:
x = df[df.columns[0:57]]
y = df[df.columns[-1]]
y.head()

2    1
3    1
4    1
5    1
6    1
Name: 57, dtype: object

In [38]:
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size=0.3,random_state=4)

In [39]:
model = BernoulliNB(binarize=True)
print(model)
model.fit(x_train,y_train)

y_pred = model.predict(x_test)
print(accuracy_score(y_test , y_pred))

BernoulliNB(binarize=True)
0.8666666666666667

In [40]:
model = GaussianNB()
print(model)
model.fit(x_train,y_train)

y_pred = model.predict(x_test)
print(accuracy_score(y_test , y_pred))

GaussianNB()
0.8159420289855073

In [41]:
model = MultinomialNB()
print(model)
model.fit(x_train , y_train)

y_pred = model.predict(x_test)
print(accuracy_score(y_test , y_pred))

MultinomialNB()
0.7891304347826087

In [42]:
model = BernoulliNB(binarize=0.5)
print(model)
model.fit(x_train,y_train)

y_pred = model.predict(x_test)
print(accuracy_score(y_test , y_pred))

BernoulliNB(binarize=0.5)
0.8971014492753623

In [43]:
model = BernoulliNB(binarize=0.1)
print(model)
model.fit(x_train,y_train)

y_pred = model.predict(x_test)
print(accuracy_score(y_test , y_pred))

BernoulliNB(binarize=0.1)
0.9043478260869565