In [73]:
import numpy as np 
import pandas as pd

In [74]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.feature_extraction.text import TfidfVectorizer

In [75]:
df = pd.read_csv('/content/spam.csv' , encoding='latin-1')
df.head(10)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
5,spam,FreeMsg Hey there darling it's been 3 week's n...,NaN,NaN,NaN
6,ham,Even my brother is not like to speak with me. ...,NaN,NaN,NaN
7,ham,As per your request 'Melle Melle (Oru Minnamin...,NaN,NaN,NaN
8,spam,WINNER!! As a valued network customer you have...,NaN,NaN,NaN
9,spam,Had your mobile 11 months or more? U R entitle...,NaN,NaN,NaN

In [76]:
df.drop(['Unnamed: 2' , 'Unnamed: 3', 'Unnamed: 4'],axis=1,inplace=True)

In [77]:
df.rename({'v1' : 'Status' , 'v2':'Message'},axis=1,inplace=True)

In [78]:
df.head(10)

  Status                                            Message
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...
5   spam  FreeMsg Hey there darling it's been 3 week's n...
6    ham  Even my brother is not like to speak with me. ...
7    ham  As per your request 'Melle Melle (Oru Minnamin...
8   spam  WINNER!! As a valued network customer you have...
9   spam  Had your mobile 11 months or more? U R entitle...

In [79]:
# Replace ham with 0 and spam with 1
df = df.replace(['ham','spam'],[0, 1]) 
df.head()

   Status                                            Message
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [80]:
df_x = df['Message']
df_y = df['Status']

In [81]:
cv = CountVectorizer()

In [82]:
#to understand how CountVectorizer works
ms = ['Please is subscribe to my youtube channel',
      'and dont forget abou it is']
a = cv.fit_transform(ms)
dd = pd.DataFrame(a.toarray() , columns=cv.get_feature_names())
dd

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,abou,and,channel,dont,forget,is,it,my,please,subscribe,to,youtube
0,0,0,1,0,0,1,0,1,1,1,1,1
1,1,1,0,1,1,1,1,0,0,0,0,0

In [83]:
#to understand how TfidVectorizer works

tfidf = TfidfVectorizer()
ms2 = ['Salah is my name',
       'Salah likes Python programming language']
b = tfidf.fit_transform(ms2)
ff = pd.DataFrame(b.toarray(),columns=tfidf.get_feature_names())
ff

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,is,language,likes,my,name,programming,python,salah
0,0.534046,0.000000,0.000000,0.534046,0.534046,0.000000,0.000000,0.379978
1,0.000000,0.471078,0.471078,0.000000,0.000000,0.471078,0.471078,0.335176

In [84]:
ms3 =['Salah Salah is my name',
       'Salah likes Python programming language']
b = tfidf.fit_transform(ms3)
ff = pd.DataFrame(b.toarray(),columns=tfidf.get_feature_names())
ff

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,is,language,likes,my,name,programming,python,salah
0,0.446101,0.000000,0.000000,0.446101,0.446101,0.000000,0.000000,0.634809
1,0.000000,0.471078,0.471078,0.000000,0.000000,0.471078,0.471078,0.335176

In [85]:
x_train , x_test , y_train , y_test = train_test_split(df_x , df_y , test_size=0.2 , random_state=4)

In [86]:
x_train.head(10)

1457    CLAIRE here am havin borin time & am now alone...
472     Nothing. I meant that once the money enters yo...
2481                    K.:)do it at evening da:)urgent:)
243     Although i told u dat i'm into baig face watch...
1413    Dear U've been invited to XCHAT. This is our f...
2726       No i am not having not any movies in my laptop
3184    MAYBE IF YOU WOKE UP BEFORE FUCKING 3 THIS WOU...
2308    Moby Pub Quiz.Win a å£100 High Street prize if...
2106                     Thank you. I like you as well...
1473    Will do, you gonna be at blake's all night? I ...
Name: Message, dtype: object

In [87]:
x_traincv = cv.fit_transform(["Hi how are you how are you doing","hi what's up" , "Wow that's awesome"])

In [88]:
x_traincv.toarray()

array([[2, 0, 1, 1, 2, 0, 0, 0, 0, 2],
       [0, 0, 0, 1, 0, 0, 1, 1, 0, 0],
       [0, 1, 0, 0, 0, 1, 0, 0, 1, 0]])

In [89]:
cv.get_feature_names()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['are', 'awesome', 'doing', 'hi', 'how', 'that', 'up', 'what', 'wow', 'you']

In [90]:
cv1 = CountVectorizer()

In [91]:
x_traincv = cv1.fit_transform(x_train)

In [92]:
ar = x_traincv.toarray()

In [100]:
ar.shape , ar

((4457, 7689), array([[0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        ...,
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0],
        [0, 0, 0, ..., 0, 0, 0]]))

In [94]:
ar[0] , len(ar)

(array([0, 0, 0, ..., 0, 0, 0]), 4457)

In [95]:
len(ar[0])

7689

In [104]:
ar[0].ndim

1

In [113]:
ar0 = [ar[0]]
cv1.inverse_transform(ar0)

[array(['09099725823', '2nite', 'alone', 'am', 'borin', 'callså', 'chat',
        'claire', 'cum', 'havin', 'here', 'hope', 'luv',
        'minmoremobsemspobox45po139wa', 'now', 'over', 'time', 'wanna',
        'xx'], dtype='<U34')]

In [114]:
x_train.iloc[0]

'CLAIRE here am havin borin time & am now alone U wanna cum over 2nite? Chat now 09099725823 hope 2 C U Luv CLAIRE xx Callså£1/minmoremobsEMSPOBox45PO139WA'