In [1]:
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sn

##**Variance Inflation Factor**

it measured ***how much the beahvior (variance)*** of an independent variable is influenced, or inflated by its ***interaction/correlation*** with other independent
variables .

In [2]:
df = pd.read_csv('/content/weatherAUS.csv')
print(df.shape)
df.head()

(32897, 23)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,2008-12-01,Albury,13.4,22.9,0.6,NaN,NaN,W,44.0,W,...,71.0,22.0,1007.7,1007.1,8.0,NaN,16.9,21.8,No,No
1,2008-12-02,Albury,7.4,25.1,0.0,NaN,NaN,WNW,44.0,NNW,...,44.0,25.0,1010.6,1007.8,NaN,NaN,17.2,24.3,No,No
2,2008-12-03,Albury,12.9,25.7,0.0,NaN,NaN,WSW,46.0,W,...,38.0,30.0,1007.6,1008.7,NaN,2.0,21.0,23.2,No,No
3,2008-12-04,Albury,9.2,28.0,0.0,NaN,NaN,NE,24.0,SE,...,45.0,16.0,1017.6,1012.8,NaN,NaN,18.1,26.5,No,No
4,2008-12-05,Albury,17.5,32.3,1.0,NaN,NaN,W,41.0,ENE,...,82.0,33.0,1010.8,1006.0,7.0,8.0,17.8,29.7,No,No

In [3]:
df = df[list(df.columns[2:])]
df = df.drop(['WindGustDir' , 'WindDir9am' , 'WindDir3pm'] , axis=1)
df = df.dropna()
print(df.shape)
df.head()

(7524, 18)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
6049,17.9,35.2,0.0,12.0,12.3,48.0,6.0,20.0,20.0,13.0,1006.3,1004.4,2.0,5.0,26.6,33.4,No,No
6050,18.4,28.9,0.0,14.8,13.0,37.0,19.0,19.0,30.0,8.0,1012.9,1012.1,1.0,1.0,20.3,27.0,No,No
6052,19.4,37.6,0.0,10.8,10.6,46.0,30.0,15.0,42.0,22.0,1012.3,1009.2,1.0,6.0,28.7,34.9,No,No
6053,21.9,38.4,0.0,11.4,12.2,31.0,6.0,6.0,37.0,22.0,1012.7,1009.1,1.0,5.0,29.1,35.6,No,No
6054,24.2,41.0,0.0,11.2,8.4,35.0,17.0,13.0,19.0,15.0,1010.7,1007.4,1.0,6.0,33.6,37.6,No,No

In [4]:
import statsmodels.api as sa
from statsmodels.stats.outliers_influence import variance_inflation_factor

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

###***Conditions of VIF***

VIF = 1 : Not Correlated .\
VIF = 1-5: Moderately Correlated. \
 
VIF > 5 : Highly Correlated .

we gonna define a function that calculate the VIF

In [5]:
def calc_vif(X):
         #Calculating VIF
  vif_info = pd.DataFrame()
  vif_info['VIF'] = [variance_inflation_factor(X.values , i ) for i in range(X.shape[1])]
  vif_info['COLUMNS'] = X.columns
  vif_info.sort_values('VIF' , ascending=False)

  return(vif_info)

In [6]:
X = df[list(df.columns[:-2])]
calc_vif(X)

              VIF        COLUMNS
0       74.005979        MinTemp
1      748.351506        MaxTemp
2        1.341599       Rainfall
3        4.644026    Evaporation
4       19.974553       Sunshine
5       28.908578  WindGustSpeed
6        9.702786   WindSpeed9am
7       14.403208   WindSpeed3pm
8       75.540010    Humidity9am
9       68.042494    Humidity3pm
10  656968.437768    Pressure9am
11  653705.508520    Pressure3pm
12       8.264169       Cloud9am
13       8.984299       Cloud3pm
14     311.539191        Temp9am
15     876.304279        Temp3pm

##***Remove multicollinearities***
To remove multicollinearities,we can do two things.We can create new features or remove them
from our data.Removing features is not recommended at first.The reason is that there'sa
possibility of information loss because we remove that feature.Therefore,we will generate new
features first.

In [11]:
df['TempDiff'] = df['Temp3pm'] - df['Temp9am']
df['HumidityDiff'] = df['Humidity3pm'] - df['Humidity9am']
df['CloudDiff'] = df['Cloud3pm'] - df['Cloud9am']
df['WindSpeedDiff'] = df['WindSpeed3pm'] - df['WindSpeed9am']
df['PressureDiff'] = df['Pressure3pm'] - df['Pressure9am']
X = df.drop(['Temp3pm' , 'Temp9am' , 'Humidity3pm' , 'Humidity9am' , 'Cloud3pm' , 'Cloud9am' , 'WindSpeed3pm' , 'WindSpeed9am' , 'Pressure3pm' , 'Pressure9am'], axis=1)
print(X.shape)
X.head()

(7524, 13)

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,RainToday,RainTomorrow,TempDiff,HumidityDiff,CloudDiff,WindSpeedDiff,PressureDiff
6049,17.9,35.2,0.0,12.0,12.3,48.0,No,No,6.8,-7.0,3.0,14.0,-1.9
6050,18.4,28.9,0.0,14.8,13.0,37.0,No,No,6.7,-22.0,0.0,0.0,-0.8
6052,19.4,37.6,0.0,10.8,10.6,46.0,No,No,6.2,-20.0,5.0,-15.0,-3.1
6053,21.9,38.4,0.0,11.4,12.2,31.0,No,No,6.5,-15.0,4.0,0.0,-3.6
6054,24.2,41.0,0.0,11.2,8.4,35.0,No,No,4.0,-4.0,5.0,-4.0,-3.3

In [19]:
X['RainToday'] = X['RainToday'].apply(lambda x : 0 if x=='No' else 1)
X['RainTomorrow'] = X['RainTomorrow'].apply(lambda x : 0 if x=='No' else 1)
X.head()

,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,RainToday,RainTomorrow,TempDiff,HumidityDiff,CloudDiff,WindSpeedDiff,PressureDiff
6049,17.9,35.2,0.0,12.0,12.3,48.0,1,1,6.8,-7.0,3.0,14.0,-1.9
6050,18.4,28.9,0.0,14.8,13.0,37.0,1,1,6.7,-22.0,0.0,0.0,-0.8
6052,19.4,37.6,0.0,10.8,10.6,46.0,1,1,6.2,-20.0,5.0,-15.0,-3.1
6053,21.9,38.4,0.0,11.4,12.2,31.0,1,1,6.5,-15.0,4.0,0.0,-3.6
6054,24.2,41.0,0.0,11.2,8.4,35.0,1,1,4.0,-4.0,5.0,-4.0,-3.3

In [20]:
#let's look on how the VIF values of our data looks like:
vif_info = pd.DataFrame()
vif_info['VIF'] = [variance_inflation_factor(X.values , i ) for i in range(X.shape[1])]
vif_info['COLUMNS'] = X.columns
vif_info.sort_values('VIF' , ascending=False)

/usr/local/lib/python3.7/dist-packages/statsmodels/regression/linear_model.py:1636: RuntimeWarning: divide by zero encountered in double_scalars
  return 1 - self.ssr/self.centered_tss

         VIF        COLUMNS
8   7.185820       TempDiff
1   6.617182        MaxTemp
0   5.541528        MinTemp
9   3.363922   HumidityDiff
3   1.586660    Evaporation
4   1.547003       Sunshine
12  1.457457   PressureDiff
5   1.173837  WindGustSpeed
11  1.161184  WindSpeedDiff
10  1.142299      CloudDiff
2   1.132505       Rainfall
6   0.000000      RainToday
7   0.000000   RainTomorrow

In [21]:
#We've to delete the vif more than 5
X = X.drop(['TempDiff' , 'MaxTemp' , 'MinTemp'] , axis=1)
vif_info = pd.DataFrame()
vif_info['VIF'] = [variance_inflation_factor(X.values , i ) for i in range(X.shape[1])]
vif_info['COLUMNS'] = X.columns
vif_info.sort_values('VIF' , ascending=False)

/usr/local/lib/python3.7/dist-packages/statsmodels/regression/linear_model.py:1636: RuntimeWarning: divide by zero encountered in double_scalars
  return 1 - self.ssr/self.centered_tss

        VIF        COLUMNS
2  1.265587       Sunshine
6  1.221523   HumidityDiff
1  1.190317    Evaporation
3  1.141338  WindGustSpeed
9  1.130774   PressureDiff
0  1.124292       Rainfall
8  1.080495  WindSpeedDiff
7  1.048083      CloudDiff
4  0.000000      RainToday
5  0.000000   RainTomorrow